@media (min-width: 1000px){
    .cards{
        /* display: flex; */
        flex-direction: row;
        height: 128px;
        width: 1146px;
    }
    .categories-title{
        text-align: left;
    }



    .vacancies-cards{
        width: 1146px;
        height: 700px;
    }

    .vacancies-card{
        flex-direction: row;
        width: 1146px;
        height: 160px;
    }

    .categories-title{
        width: 1146px;
        margin: 0 auto;
    }

}